:root {
  --success100: #E1FBEA;
  --success200: #AAF0C4;
  --success300: #73E2A3;
  --success400: #3CCB7F;
  --success500: #16B364;
  --success600: #73E2A3;
  --success700: #73E2A3;
  --success800: #73E2A3;
  --success900: #73E2A3;
}